Options -MultiViews
RewriteEngine On
RewriteBase /

# Redirect all requests that are not an existing file or directory
# to the index.php front controller
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]